:root {}

body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.clock-container {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	grid-template-areas: ". a a ." ". a a .";
}

.clock-face-container {
	grid-area: a;
	align-self: center;
	justify-self: center;
}

.clock-hand-container {
	grid-area: a;
	align-self: center;
	justify-self: center;
}

.icon-container {
	grid-area: a;
	align-self: center;
	justify-self: center;
}

.icon-container img {
	position: relative;
	visibility: hidden;
}

.info-icon-container {
	position: absolute;
	padding: 10px;
}

#info-icon {
	visibility: hidden;
}

#clock-face {
	width: 100vw;
	height: 100vh;
}

#clock-hand {
	width: 85vw;
	height: 85vh;
	position: relative;
}
